* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #08313a, #107869);
}

.signup-wrap {
  width: 500px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.4);
  background-color: #fff;
}

.signup-top {
  padding: 40px 40px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.signup-top::before {
  content: "";
  position: absolute;
  height: 50px;
  bottom: -20px;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
  background-color: #fff;
}

h2 {
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  margin-bottom: 32px;
  color: #1a5653;
}

.input-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

p {
  font-size: 0.8rem;
  color: #3c4140;
}

span {
  color: #1a5653;
  font-weight: 600;
  cursor: pointer;
}

input {
  font-size: 1rem;
  font-weight: 500;
  padding: 4px 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #e4f0f6;
  transition: 500ms ease all;
}

input:focus {
  outline: none;
  box-shadow: 0 1px 0 0 #107869;
  border-color: #107869;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

input[type="checkbox"]:focus {
  outline: none;
  box-shadow: none;
  border-color: none;
}

button {
  cursor: pointer;
  padding: 15px 60px;
  border-radius: 30px;
  font-weight: 600;
  border: none;
  color: #fff;
  background-color: #107869;
  margin-right: 16px;
  transition: 500ms ease all;
}

button:hover {
  background: #1a5653;
  transform: scale(0.98);
}

.signup-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #107869;
  padding: 60px 40px 40px;
  color: #fff;
}

h3 {
  font-weight: 600;
  font-size: 13px;
}

ul {
  display: flex;
  margin-top: 16px;
  list-style: none;
}

li {
  margin-right: 40px;
  font-size: 24px;
  cursor: pointer;
}

li:last-child {
  margin-right: 0;
}

i {
  transition: 500ms ease all;
}

i:hover {
  color: #5cd85a;
}
